Assignment 1 Answer

Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
str="PWSkills"
list=[1,2.3,True,"Pw"]
a=2.345
tup=(1,2,"pw",5.6)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [ ]:
Ans>
(i) string
(ii) string
(iii) list
(iv) int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [3]:
a=5
b=3
print(a/b) #division float
print(a%b) #remainder
print(a//b) #floor division
print(a**b) #power

1.6666666666666667
2
1
125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [4]:
list=[12,2.55,"PW",True,'c',"skill",34,3.45,False]
for i in list:
    print(i)

12
2.55
PW
True
c
skill
34
3.45
False

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [10]:
A=int(input("Enter no A:"))
B=int(input("Enter no B:"))
count=0
while(A%B==1):
    A=A//B
    count+=1
if(A==0):
    print("A is divided by B and ",count," times it can be divisible.")
else:
    print("A is not divied by B")

Enter no A: 8
Enter no B: 2

A is not divied by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [4]:
list=[]
for j in range(1,26):
    list.append(j)
print(list)
for i in list:
    if(i%3==0):
        print(i,"is divided by 3")
    else:
        print(i,"is not divided by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 is not divided by 3
2 is not divided by 3
3 is divided by 3
4 is not divided by 3
5 is not divided by 3
6 is divided by 3
7 is not divided by 3
8 is not divided by 3
9 is divided by 3
10 is not divided by 3
11 is not divided by 3
12 is divided by 3
13 is not divided by 3
14 is not divided by 3
15 is divided by 3
16 is not divided by 3
17 is not divided by 3
18 is divided by 3
19 is not divided by 3
20 is not divided by 3
21 is divided by 3
22 is not divided by 3
23 is not divided by 3
24 is divided by 3
25 is not divided by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

In [7]:
#mutable data type is changable it can be change after creating data
#immutable data type is unchangeble it can not accesable
#ex: mutable is list and immutable is string,tuple etc.
list=[1,2,3,4,5]
print(list)
#after mutation
list[0]=1.2343
print(list)

[1, 2, 3, 4, 5]
[1.2343, 2, 3, 4, 5]