# Support Vector Machines Assignment - 3

Q1. In order to predict house price based on several characteristics, such as location, square footage,
number of bedrooms, etc., you are developing an SVM regression model. Which regression metric in this
situation would be the best to employ?

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [5]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df['size'].mode()[0
                 ]

'2 BHK'

In [8]:
df['size']=df['size'].fillna(df['size'].mode()[0])

In [9]:
df['society']=df['society'].fillna(df['society'].mode()[0])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13320 non-null  object
 4   society       13320 non-null  object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [11]:
df['bath'].mean()

2.6926096474673513

In [12]:
df['bath'].median()

2.0

In [13]:
df['bath']=df['bath'].fillna(df['bath'].mean())

In [14]:
df['balcony']=df['balcony'].fillna(df['balcony'].mean())

In [15]:
df=df.dropna()

In [16]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [17]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [18]:
df['area_type']=df['area_type'].str.strip()

In [19]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [20]:
df['availability']=df['availability'].str.strip()

In [21]:
df['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [22]:
df['location']=df['location'].str.strip()

In [23]:
df['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [24]:
df['size']=df['size'].str.strip()

In [25]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [26]:
df['area_type_encoded']=df['area_type'].map({
    'Super built-up  Area': 0,
    'Plot  Area': 1,
    'Built-up  Area': 2,
    'Carpet  Area': 3
})

In [27]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0

In [28]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [29]:
df['size_encoded']=encoder.fit_transform(df[['size']])

In [30]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13

In [31]:
df['location_encoded']=encoder.fit_transform(df[['location']])

In [32]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded,location_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13,405
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19,303
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16,1166
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16,743
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13,702

In [33]:
len(df['society'].unique())

2688

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13319 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   area_type          13319 non-null  object
 1   availability       13319 non-null  object
 2   location           13319 non-null  object
 3   size               13319 non-null  object
 4   society            13319 non-null  object
 5   total_sqft         13319 non-null  object
 6   bath               13319 non-null  float64
 7   balcony            13319 non-null  float64
 8   price              13319 non-null  float64
 9   area_type_encoded  13319 non-null  int64
 10  size_encoded       13319 non-null  int32
 11  location_encoded   13319 non-null  int32
dtypes: float64(3), int32(2), int64(1), object(6)
memory usage: 1.2+ MB

In [35]:
df['society_encoded']=encoder.fit_transform(df['society'])

In [36]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded,location_encoded,society_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13,405,464
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19,303,2439
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16,1166,806
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16,743,2186
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13,702,806

In [37]:
df['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [38]:
df['availability'].value_counts()['Ready To Move']

10580

In [39]:
df['availability'].value_counts()['Immediate Possession']

16

In [40]:
df['availability']=df['availability'].str.strip()

In [41]:
df['availability_encoded']=encoder.fit_transform(df['availability'])

In [42]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded,location_encoded,society_encoded,availability_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13,405,464,40
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19,303,2439,80
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16,1166,806,80
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16,743,2186,80
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13,702,806,80

In [43]:
from sklearn.preprocessing import LabelEncoder

# Example label-encoded data
encoded_data = df['availability_encoded']

# Define the label encoder
label_encoder = LabelEncoder()

# Example classes corresponding to the encoded values
classes = df['availability']

# Fit the label encoder to the classes
label_encoder.fit(classes)

# Decode the encoded data
decoded_data = label_encoder.inverse_transform(encoded_data)

pd.DataFrame(decoded_data
            )

                   0
0             19-Dec
1      Ready To Move
2      Ready To Move
3      Ready To Move
4      Ready To Move
...              ...
13314  Ready To Move
13315  Ready To Move
13316  Ready To Move
13317         18-Jun
13318  Ready To Move

[13319 rows x 1 columns]

In [44]:
df[['availability']]

        availability
0             19-Dec
1      Ready To Move
2      Ready To Move
3      Ready To Move
4      Ready To Move
...              ...
13315  Ready To Move
13316  Ready To Move
13317  Ready To Move
13318         18-Jun
13319  Ready To Move

[13319 rows x 1 columns]

In [45]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded,location_encoded,society_encoded,availability_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13,405,464,40
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19,303,2439,80
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16,1166,806,80
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16,743,2186,80
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13,702,806,80

In [46]:
df.shape

(13319, 14)

In [47]:
df.reset_index(inplace=True)

In [48]:
df.drop(df[['index']],axis=1,inplace=True)

In [49]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded,location_encoded,society_encoded,availability_encoded
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13,405,464,40
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19,303,2439,80
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16,1166,806,80
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16,743,2186,80
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13,702,806,80

In [50]:
def clean_total_sqft(value):
    if '-' in value:
        start, _ = map(float, value.split('-'))
        return float(start)
    else:
        try:
            return float(value)
        except ValueError:
            return None
df['total_sqft_cleaned'] = df['total_sqft'].apply(clean_total_sqft)
df.dropna(inplace=True)
print(df['total_sqft_cleaned'])

0        1056.0
1        2600.0
2        1440.0
3        1521.0
4        1200.0
          ...
13314    3453.0
13315    3600.0
13316    1141.0
13317    4689.0
13318     550.0
Name: total_sqft_cleaned, Length: 13273, dtype: float64

In [51]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,area_type_encoded,size_encoded,location_encoded,society_encoded,availability_encoded,total_sqft_cleaned
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,13,405,464,40,1056.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,1,19,303,2439,80,2600.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00,2,16,1166,806,80,1440.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,16,743,2186,80,1521.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00,0,13,702,806,80,1200.0

In [52]:
df_copy=df[['area_type_encoded','availability_encoded','location_encoded','size_encoded','society_encoded','total_sqft_cleaned','bath','balcony','price']]

In [53]:
df_copy.head()

,area_type_encoded,availability_encoded,location_encoded,size_encoded,society_encoded,total_sqft_cleaned,bath,balcony,price
0,0,40,405,13,464,1056.0,2.0,1.0,39.07
1,1,80,303,19,2439,2600.0,5.0,3.0,120.00
2,2,80,1166,16,806,1440.0,2.0,3.0,62.00
3,0,80,743,16,2186,1521.0,3.0,1.0,95.00
4,0,80,702,13,806,1200.0,2.0,1.0,51.00

In [54]:
X=df_copy.iloc[:,:-1]
y=df_copy.iloc[:,-1]

In [55]:
X.shape,y.shape

((13273, 8), (13273,))

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [58]:
X_train.shape,X_test.shape

((8892, 8), (4381, 8))

In [59]:
from sklearn.svm import SVR

In [60]:
svr=SVR(kernel='linear')

In [63]:
svr.fit(X_train,y_train)

SVR(kernel='linear')

In [64]:
svr.coef_

array([[ 2.50409457e+00,  6.37968721e-02, -7.30500782e-04,
        -1.52893784e+00,  1.83546824e-03,  6.02540579e-02,
         2.51286984e+01, -4.58100469e+00]])

In [65]:
y_pred=svr.predict(X_test)

In [66]:
y_pred

array([192.65523211,  -2.05285554, 109.19628019, ..., 108.49974214,
        33.94919074,  45.34641762])

In [73]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [87]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R^2):", r2)
print('Root Mean Squared Error (RMSE):',np.sqrt(mse))

Mean Squared Error (MSE): 15212.67688404483
Mean Absolute Error (MAE): 42.44089160745193
R-squared (R^2): 0.2828419797416628
Root Mean Squared Error (RMSE): 123.33968089809876

In [75]:
svr=SVR(kernel='poly')

In [77]:
svr.fit(X_train,y_train)

SVR(kernel='poly')

In [79]:
y_pred=svr.predict(X_test)

In [88]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R^2):", r2)
print('Root Mean Squared Error (RMSE):',np.sqrt(mse))

Mean Squared Error (MSE): 15212.67688404483
Mean Absolute Error (MAE): 42.44089160745193
R-squared (R^2): 0.2828419797416628
Root Mean Squared Error (RMSE): 123.33968089809876

In [83]:
svr=SVR(kernel='rbf')

In [84]:
svr.fit(X_train,y_train)

SVR()

In [85]:
y_pred=svr.predict(X_test)

In [89]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R^2):", r2)
print('Root Mean Squared Error (RMSE):',np.sqrt(mse))

Mean Squared Error (MSE): 15212.67688404483
Mean Absolute Error (MAE): 42.44089160745193
R-squared (R^2): 0.2828419797416628
Root Mean Squared Error (RMSE): 123.33968089809876